
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

<header>
<b>
<font size="5">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-xxl">
          <a class="navbar-brand" href="#">Beaver_knithen</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Доставка и оплата</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> О нас </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Контакты</a>
              </li>
                  <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Каталог
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Выбрать модель</a></li>
                  <li><a class="dropdown-item" href="#">Заказать из наличия</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Помощь специалиста</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>

            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Найти модель" aria-label="Поиск">
              <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>
          </div>
        </div>
      </nav>
</header>
</font size>
</b>
<!--_______________________________________________________________________________________-->
<html> 
        <head>
            <title>{{title}}</title>
<style>
h1 {
  display: block;
  padding-left: 1000px;
  font-size: 5em;
  margin-top: 0.67em;
  margin-bottom: 2.67em;
  font-weight: bold;
  }
  
  h2 {
  display: block;
  padding-left: 300px;
  font-size: 3em;
  margin-bottom: 0.67em;
  font-weight: bold;
  }
               
</style>

<h1><i>{{beaver_about}}</i></h1>        
<!--_______________________________________________________________________________________-->
        <div class="row">
          <div class="col">
                <h2>
            <p>В 2022 году российская компания «Beaver_knithen» создала интернет магазин, 
              который максимально упростит и облегчит поиск и выбор вязаной одежды.</p>   
                <br>
              <p>Экономя свои время и деньги на нашем сайте 
              Вы можете подобрать для себя любую вязанную одежду на свой вкус c разных магазинов вязаной одежды.</p>
                <br> 
              <p>А чтобы Вам было ещё более комфортно, 
              мы создали возможность менять одежду и делать её на заказ под Ваш размер.</p>             
                <br>
              <p>Вы всегда сможете подкорректировать и изменить ту или иную вещь, которую выбрали.</p>
                <br>
              <p>Отличительной чертой нашего интернет магазина стало то, что Вы можете подобрать для себя одежду по бюджету, 
              и, если хотите, настроить выдачу сразу и дорогой, и менее дорогой одежды.
            </h2>
<!--_______________________________________________________________________________________-->
        </div>
        <div class="col">
                <div class="col-7">
                  <img class = "w-100" src = https://i.pinimg.com/736x/7c/af/0a/7caf0a2961d2a76d98879bf695a644d3.jpg alt = "fon">
        </div>
    </div>

