<html> 
        <head>
            <title>{{title}}</title> <!--h1: между верх. гранью и h1: br: между h1 и текстом /n-->
            <style> 
                h1 {
                    line-height: 1.5; 
                } 
                br {
                    line-height: 1.0;
                }
                p {
                    line-height: 0.8;     
                }
               </style>           
        </head>
        <body>
            <font size = "6.0">
            <h1><i>{{beaver_text}}</i></h1>
            <br>    
            <font size = "5.8">
                <p>В 2022 году российская компания «Beaver_knithen» создала интернет магазин, 
                который максимально упростит и облегчит поиск и выбор вязаной одежды.</p>   
                 
                <p>Экономя свои время и деньги на нашем сайте 
                Вы можете подобрать для себя любую вязанную одежду на свой вкус c разных магазинов вязаной одежды.</p>
                           
                <p>А чтобы Вам было ещё более комфортно, 
                мы создали возможность менять одежду и делать её на заказ под Ваш размер.</p>             
            
                <p>Вы всегда сможете подкорректировать и изменить ту или иную вещь, которую выбрали.</p>
        
                <p>Отличительной чертой нашего интернет магазина стало то, что Вы можете подобрать для себя одежду по бюджету, 
                и, если хотите, настроить выдачу сразу и дорогой, и менее дорогой одежды разных брендов.</p>  
            </div> 
        <br>   
        </body>
    </html>