<html>
    <head>
        <title>Контакты</title>
    </head>
    <body>
        <h1>Beaver_knithen</h1>
            <h2><i>Контакты</i></h2>
                <li>Контактный телефон 8 925 223 59 89 </li>
                <li>e-mail <button>Beaver_knithen@yandex.ru</button> </li>
                <li>Фактический адрес: г.Москва, ул.Академика Королева д.12 </li>
                <li>ИНН 112233445566777 </li>
                <li>ОГРН 8889990000 </li>
                <li>Юридический адрес: г.Москва, ул.Академика Королева д.12 </li>

    </body>
</html>